
body{
  background-image:url('../ui/picture/background.png');
     background-repeat:no-repeat;
     background-attachment:fixed;
     background-position:center;
background-size: cover;
     color: #bda97a;
     font-size: 30px;
     font-family: "Arial";
     font-weight: bolder;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bda97a;
}

h1 {
  color: navy;
  margin-left: 20px;
}
